
<section id="featured-formation" class="featured-services">
      <div class="container" data-aos="fade-up">
      <div class="section-title">
          <h2>Formations </h2>
          <h3><span>Développez vos talents avec nous </span></h3>
          <p>On ne céssera jamais d'apprendre.</p>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4 class="title"><a href="">Analyse et conception avec UML</a></h4>
              <p class="description">
                De la capture des besoins utilisateurs, leur modélisation et la mise en oeuvre des solutions informatiques.
              </p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4 class="title"><a href="">Symfony 6 </a></h4>
              <p class="description">
                Apprenez un des framework rapide du moment.
              </p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4 class="title"><a href="">PHP  </a></h4>
              <p class="description">
                Développez vos projets web à l'aide de PHP 8. Un langage simple et puissant.
              </p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
              <div class="icon"><i class="bx bx-world"></i></div>
              <h4 class="title"><a href="">JAVA </a></h4>
              <p class="description">
                Le langage pedagogique de tout le temps. Un des langages le plus puissant. Maîtrisez-en les contours.
              </p>
            </div>
          </div>

        </div>

      </div>
</section>
