<!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center ">
    <div class="container" data-aos="zoom-out" data-aos-delay="100">
      <h1>Karibu to <span>WebTron<span class="text-danger">Blue</span></span></h1>
      <h2>
      Le DDD n’est pas une méthode de modélisation mais plutôt une façon de penser ou encore une philosophie de conception
      </h2>
      <div class="d-flex">
        <a href="{{url('app_qsn')}}" class="btn-get-started scrollto">A propos de nous</a>
        <a href="#" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>regardez Video</span></a>
      </div>
    </div>
  </section><!-- End Hero -->