
<section id="featured-logiciels" class="featured-services">
      <div class="container" data-aos="fade-up">
      <div class="section-title">
          <h2>Logiciels  </h2>
          <h3><span>Du génie logiciel DDD </span></h3>
          <p>Accedez à la performance logiciels de nos équipes.</p>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4 class="title"><a href="">Ishango Africa </a></h4>
              <p class="description">
                Logiciel de conservation de la culture africaine. Enregistrez-vous-y et laissez un heritage de grand-mere pour vos petit-fils.
              </p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4 class="title"><a href="">Academia FeuxVert</a></h4>
              <p class="description">
                Logiciel tant attendue. Destiné aux institutions universitaires. Ce logiciel Informatise tout le processus de gestion des mémoires.
              </p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4 class="title"><a href="">Ice RendezVous  </a></h4>
              <p class="description">
                Logiciel de bureau pour gérer les rendez-vous. Soyez au contrôle et gardez l'historique de vos visiteurs.
              </p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
              <div class="icon"><i class="bx bx-world"></i></div>
              <h4 class="title"><a href="">TshilandIce </a></h4>
              <p class="description">
                Jeux vidéo à l'africaine. L'Afrique est un térroire d'intelligennce.
              </p>
            </div>
          </div>

        </div>

      </div>
</section>
