<section id="featured-services" class="featured-services">
      <div class="container" data-aos="fade-up">
      <div class="section-title">
          <h2>Services  </h2>
          <h3><span>Accedez en temps réel à des services de qualité </span></h3>
          <p>On en veux toujours plus.</p>
        </div>         
        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4 class="title"><a href="">Conception logiciel d'entreprise</a></h4>
              <p class="description">
                Nos équipes sont à votre service pour mettre en oeuvre vos projets d'informatisation.
              </p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4 class="title"><a href="">Audit Informatique </a></h4>
              <p class="description">
                Faîtes auditer vos systèmes informatiques chez nous. Nos experts sont là pour vous.
              </p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4 class="title"><a href="">White Hacking  </a></h4>
              <p class="description">
                Testez la performances et découvrer les failles de vos systèmes d'informations. On est jamais à l'abris du danger.
              </p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
              <div class="icon"><i class="bx bx-world"></i></div>
              <h4 class="title"><a href="">Web Hosting  </a></h4>
              <p class="description">
                Héberger vos projets web et API en lieux sûr. Grâce à une grille tarifaire abordable et une sécurité accrue.
              </p>
            </div>
          </div>

        </div>

      </div>
</section>
