{% extends 'base.html.twig' %}

{% block body %}
    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="assets/img/portfolio/portfolio-details-1.jpg" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="assets/img/portfolio/portfolio-details-2.jpg" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="assets/img/portfolio/portfolio-details-3.jpg" alt="">
                </div>

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>Les actions clés de notre technologie</h3>
              <p>
              Vous souhaitez dépister rapidement et réduire considérablement les cyber-risques au sein de votre organisation ?
Serenicity CONTROL™ est là pour vous accompagner. Destinée aux TPE PME, groupes industriels, établissements de santé et collectivités territoriales,
notre solution s’adapte aux besoins de chacun pour leur garantir une sécurité renforcée de leur système d’information (SI).
              </p>
            </div>
            <div class="portfolio-description">
              <h2>Reprendre le contrôle de votre sécurité n’a jamais été aussi simple</h2>
              <p>
                Nous protégeons vos outils de travail et vos collaborateurs et nous garantissons la sauvegarde de vos données conﬁdentielles avec des solutions digitales performantes.
Nous déployons nos services en France comme à l’étranger. Vos ﬁliales, collaborateurs clients et partenaires étrangers sont aussi vulnérables face aux cyberattaques. Équipez-vous de façon globale.
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

{% endblock %}