{% extends 'base.html.twig' %}

{% block body %}
<section id="featured-logiciels" class="featured-services">
      <div class="container" data-aos="fade-up">
      <div class="section-title">
          <h2>Partenaires   </h2>
          <h3><span>Ils nous font confiance </span></h3>
          <p>Vous êtes le prochain sur la liste.</p>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4 class="title"><a href="">FINA SARL </a></h4>
              <p class="description">
                Société de vente des produits éléctroniques et éléctroménagers sur mésure à la commande.
              </p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4 class="title"><a href="">Academia FeuxVert</a></h4>
              <p class="description">
                Logiciel tant attendue. Destiné aux institutions universitaires. Ce logiciel Informatise tout le processus de gestion des mémoires.
              </p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4 class="title"><a href="">Symfony </a></h4>
              <p class="description">
                Groupe des developpeurs soutenant la plateforme et le framework symfony.
              </p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
              <div class="icon"><i class="bx bx-world"></i></div>
              <h4 class="title"><a href="">Shop IMO DRC </a></h4>
              <p class="description">
                Société de location des maisons en peer to peer.
              </p>
            </div>
          </div>

        </div>

      </div>
</section>
   
{% endblock %}