{% extends 'base.html.twig' %}

{% block body %}
	<section class="inner-page">
		<div class="container">
			  
				<h2>Propriété</h2>
				<p>La structure générale, les logiciels, textes, images animées ou fixes, sons, savoir-faire, graphismes et tous autres éléments qui composent ce site web sont de l’utilisation exclusive de WebTronBlue Inc. Toute reproduction totale ou partielle de ce site sur quelconque support, par quelconque manière qui soit, sans autorisation de WebTronBlue Inc, est interdite et constitue une contrefaçon sanctionnée par les articles L335-2 et suivants du Code de la propriété intellectuelle.</p>
				<p>Les liens hypertextes insérés dans le cadre du présent site web en direction d’autres ressources présentes sur internet ne sauraient engager la responsabilité de WebTronBlue Inc.</p>
			
			  
				<h2>Utilisation des cookies</h2>
				<p>WebTronBlue Inc se sert de cookies dans l'exploitation de son site internet. Les cookies ont pour objectif de nous informer de votre présence et de votre parcours sur notre site. Les informations en rapport avec votre visite ne sont stockées que pour effectuer un traitement statistique. La collecte de données utilisateurs permet d’améliorer les fonctionnalités du site dans le but de répondre au mieux à vos besoins. Les données statistiques collectées ne sont jamais cédées à des tiers. Votre navigateur dispose de fonctionnalités qui vous autorisent à vous opposer à l'enregistrement de cookies mais également d'être prévenu avant d'accepter les cookies, ou de les effacer.</p>
			  
				<h2>Données personnelles</h2>
				<p>Dans le cadre de son activité, WebTronBlue Inc collecte des informations personnelles.<br/>
					La politique de confidentialité et de protection des données personnelles est accessible ici :
					<a href="https://WebTronBlue.com/confidentialite-et-vie-privee/">confidentialité et vie privé</a>
				</p>
			

		</div>
	</section>
{% endblock %}
