{% extends 'base.html.twig' %}

{% block body %}
    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            
    <p>
<mark>LaGis webtronblue</mark> est une société informatique basée dans le sud du congo Kinshasa. C’est une entreprise jumelle car existe sous deux facettes : Webtronblue & webtronix. 
</p>

<p>
Webtronblue a pour vocation de mettre en œuvre des logiciels de qualité, promouvoir le developement open source et soutenir l’industrie high tech autant que possible. 
</p>
<p>
Sa jumelle webtronix se focalise plus dans l’hersement des sites web, les audits informatiques et le hacking professionnel de système d’information. 
</p>
<p>
Crée depuis 2015 par <em>Monsieur Marcus R. Kimba </em>(Ingénieur Informaticien) alors encore étudiant mais vraiment passionné par la technologie, l’automatisation, la robotique, l’intelligence artificielle et la conception des jeux vidéo.     
Il décide donc à l’époque déjà de canaliser ses passions au travers la mise en place d’une startup.  
</p>




          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3> <span class="text-primary">WebTron</span><span class="text-danger">Blue</span> <span class="text-primary">WebTron</span><span class="text-warning">Ix</span></h3>
              <ul>
                <li><strong>Secteurs d'activités</strong>: Nouvelles technologie IT</li>
                <li><strong>Fondateur</strong>: Marcus R. KIM</li>
                <li><strong>Année création</strong>: 2015</li>
                <li><strong>Contact</strong>: <a href="#">www.webtronblue.com</a></li>
              </ul>
            </div>
            <div class="portfolio-description">
              <h2>Nos valeurs </h2>
              <p>

Nous découvrons de meilleures approches du développement logiciel en le pratiquant et en aidant les autres à le pratiquer. Ce travail nous a amené à accorder de l'importance : 
•	aux individus et leurs interactions plutôt qu'aux processus et aux outils ; <br />
•	à un logiciel fonctionnel plutôt qu’à une documentation exhaustive ; <br />
•	à la collaboration avec les clients plutôt qu'à la négociation contractuelle ; <br />
•	à l’adaptation au changement plutôt qu'à l'exécution d’un plan. <br />
Cela signifie que, bien qu'il y ait de la valeur dans les éléments situés à la fin, notre préférence se porte sur les éléments qui se trouvent en première partie de phrase.

              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

{% endblock %}